<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create POST</title>
</head>
<body>
    <form action="/board/create/" method="POST">
        {% csrf_token %}
        <div>
            <label for="title"></label>
            <input id="title" type="text" name="title"/>      
        </div>

        <div>
            <label for="description"></label>
            <textarea id="description" name="description"></textarea>
        </div>
        
        <div>
            <button type="submit">register</button>
        </div>
    </form>
</body>
</html>